body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('foto/corumsaatkulesıcamı.jpg'); 
    background-size: cover; 
    background-attachment: fixed;
}



header {
    font-size: 18px;
    background-color: rgba(51, 99, 136, 0.9);
    color: #fff;
    padding: 1px 1px;
    text-align: center;
}

nav {
    font-size: 18px;
    background-color: rgba(69, 117, 153, 0.9);
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    font-size: 18px;
    background-color: rgba(69, 117, 153, 0.9);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}



.bilgilendirme {
 font-size: 20px;
    width: 80%; 
    font-weight: bold; 
            margin: 50px auto; 
            background-color: rgba(145, 196, 219, 0.6);
            padding: 20px; /* İç boşluk */
            border: 0.3px solid rgba(68, 68, 68, 1); 
            border-radius: 5px; 
            position: relative; 
            top: 20px; 
            left: 20px; 
}
.kisiselbilgiler {
    font-size: 20px;
    width: 80%; 
    font-weight: bold; 
            margin: 50px auto; 
            background-color: rgba(145, 196, 219, 0.6);
            padding: 20px; 
            border: 0.3px solid rgba(68, 68, 68, 1); 
            border-radius: 5px; 
            position: relative; 
            top: 20px; 
            left: 20px; 
   }

   .kendinitanit-container {
    font-weight: bold; 
    margin: 50px auto; 
    font-size: 25px;
    width: 50%;
    margin: 50px 100px;
    padding: 50px 20px 20px; 
    background-color: rgba(145, 196, 219, 0.6);
    border-radius: 10px;
    margin-left: 350px;
}

.kendinitanit-container p {
margin-top: 10px;

}

table {
    vertical-align: top; 
    width: 80%; 
    margin: 0 auto; 
    border-collapse: collapse; 
}

table img {
    width: 200px; 
    display: block; 
    margin-right: 20px; 
}

table td {
    vertical-align: top; 
}

table p {
    margin-top: 0; 
    margin-bottom: 5px; 
}

   .hobiler {
    font-weight: bold; 
    font-size: 20px;
    width: 80% ;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(145, 196, 219, 0.6);
}

.hobi {
    display: inline-block; 
    margin-right: 20px; 
}

.hobi img {
    width: 270px;
    height: 300; 
    display: block; 
    margin-bottom: 10px; 
}



.resim-aciklama-container {
    font-weight: bold; 
    font-size: 20px;
    width: 30%;
    margin: 50px 100px;
    padding: 20px;
    background-color: rgba(145, 196, 219, 0.6);
    border-radius: 10px;
    margin-left: 150px;
}

.resim-aciklama {
    display: flex; 
    margin-bottom: 20px; 
    overflow: hidden;
}

.resim-aciklama img {
    
    width: 200px; 
    height: 160px; 
    border-radius: 5px; 
}

.resim-aciklama p {
    margin-top: 0; 
            margin-bottom: 0; 
            margin-left: 10px;
}

.gs {
    font-weight: bold; 
    width: 30%; 
    height: 350px;
    margin: 50px auto; 
    background-color: rgba(145, 196, 219, 0.6);
    padding: 20px; 
    border: 0.3px solid rgba(68, 68, 68, 1); 
    border-radius: 5px; 
    position: relative; 
    top: 20px; 
    left: 400px; 
    margin-top: -1100px
}

.gs img {
    width: 450px; 
    height: 220px; 
    border-radius: 5px; 
}

.gs p {
    margin-top: 0; 
            margin-bottom: 0; 
            margin-left: 10px;
}

.muzik {
    font-weight: bold; 
    width: 30%; 
    height: 350px;
    margin: 50px auto; 
    background-color: rgba(145, 196, 219, 0.6);
    padding: 20px; 
    border: 0.3px solid rgba(68, 68, 68, 1); 
    border-radius: 5px; 
    position: relative;
    top: 20px;
    left: 400px; 
}

.muzik img {
    width: 450px; 
    height: 220px; 
    border-radius: 5px; 
}

.okudugumokullar-container h2{
    text-align: center; 
}

.okudugumokullar-container {
    font-weight: bold; 
    font-size: 25px;
    color: black;
    width: 80%;
    margin: 50px 100px;
    padding: 20px;
    background-color: rgba(145, 196, 219, 0.6);
    border-radius: 10px;
    margin-left: 150px;
}

.okullar {
    display: flex; 
    flex-direction: column; 
    margin-bottom: 100px; 
    overflow: hidden; 
}

.okullar h3 {
    text-align: center; 
}

.okullar img {
    width: 70%; 
    height: 400px; 
    border-radius: 5px;
    margin: 0 auto; 
}

.okullar p {
    margin-top: 0; 
    margin-bottom: 0; 
    margin-left: 10px; 
}

.egitimbilgi {
    font-weight: bold; 
    font-size: 20px;
       width: 80%; 
     
               margin: 50px auto; 
               background-color: rgba(145, 196, 219, 0.6);
               padding: 20px; 
               border: 0.3px solid rgba(68, 68, 68, 1); 
               border-radius: 5px; 
               position: relative; 
               top: 20px; 
               left: 20px; 
   }
   .corumbilgi1 {
    font-size: 20px;
       width: 80%; 
       font-weight: bold; 
               margin: 50px auto; 
               background-color: rgba(145, 196, 219, 0.6);
               padding: 20px; /* İç boşluk */
               border: 0.3px solid rgba(68, 68, 68, 1); 
               border-radius: 5px; 
               position: relative; 
               top: 20px; 
               left: 20px; 
   }
   .corumbilgi2 {
    font-size: 20px;
       width: 80%; 
       font-weight: bold; 
               margin: 50px auto; 
               background-color: rgba(145, 196, 219, 0.6);
               padding: 20px; /* İç boşluk */
               border: 0.3px solid rgba(68, 68, 68, 1); 
               border-radius: 5px; 
               position: relative; 
               top: 20px; 
               left: 20px; 
   }
   .corumbilgi3 {
    font-size: 20px;
       width: 80%; 
       font-weight: bold; 
               margin: 50px auto; 
               background-color: rgba(145, 196, 219, 0.6);
               padding: 20px; /* İç boşluk */
               border: 0.3px solid rgba(68, 68, 68, 1); 
               border-radius: 5px; 
               position: relative; 
               top: 20px; 
               left: 20px; 
   }

   .corumnufus {
    font-weight: bold; 
    margin: 50px auto; 
    font-size: 22px;
    width: 50%;
    margin: 50px 100px;
    padding: 50px 0px 20px; 
    background-color: rgba(145, 196, 219, 0.6);
    border-radius: 10px;
    margin-left: 350px;
}


.corumnufus img{
    weight: 300px ;
    height: 300px;
}


