body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('foto/corumsaatkulesıcamı.jpg'); 
    background-size: cover; 
    background-attachment: fixed;
}



header {
    font-size: 18px;
    background-color: rgba(51, 99, 136, 0.9);
    color: #fff;
    padding: 1px 1px;
    text-align: center;
}

nav {
    font-size: 18px;
    background-color: rgba(69, 117, 153, 0.9);
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    font-size: 18px;
    background-color: rgba(69, 117, 153, 0.9);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}



#bilgilendirme {
 font-size: 20px;
    width: 80%; 
    font-weight: bold; 
            margin: 50px auto; 
            background-color: rgba(145, 196, 219, 0.6);
            padding: 20px; /* İç boşluk */
            border: 0.3px solid rgba(68, 68, 68, 1); 
            border-radius: 5px; 
            position: relative; 
            top: 20px; 
            left: 20px; 
}
#kisiselbilgiler {
    font-size: 20px;
    width: 80%; 
    font-weight: bold; 
            margin: 50px auto; 
            background-color: rgba(145, 196, 219, 0.6);
            padding: 20px; 
            border: 0.3px solid rgba(68, 68, 68, 1); 
            border-radius: 5px; 
            position: relative; 
            top: 20px; 
            left: 20px; 
   }


#hobi{
    font-size: 20px;
    width: 30%; 
  text-align: center; /* Metni yatayda ortalar */
        display: flex;
        align-items: center; /* Metni dikeyde ortalar */
        justify-content: center; /* Metni yatayda ve dikeyde ortalar */
        height: 50px; 
        font-weight: bold; 
            background-color: rgba(145, 196, 219, 0.6);
            border: 0.3px solid rgba(68, 68, 68, 1); 
           

}

#benkimim{
    font-size: 20px;
    font-weight: bold;

    top: 50%; /* Üst kenarını sayfanın ortasına getiriyoruz */
    left: 50%; /* Sol kenarını sayfanın ortasına getiriyoruz */
    transform: translate(-50%, -50%); /* Yatay ve dikeyde ortalamak için negatif değerlerle hareket ettiriyoruz */
    background-color: rgba(145, 196, 219, 0.6);
    border: 0.3px solid rgba(68, 68, 68, 1); 
}



#hobiislem{
    
    background-color: rgba(145, 196, 219, 0.6);
            border: 0.3px solid rgba(68, 68, 68, 1); 
            font-weight: bold;
}
#hobiislem img{
    weight: 300px ;
    height: 300px;
}

#gs{
    font-size: 20px;
    background-color: rgba(145, 196, 219, 0.6);
    border: 0.3px solid rgba(68, 68, 68, 1); 
    font-weight: bold;
    
}
#okullar{
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(145, 196, 219, 0.6);
    border: 0.3px solid rgba(68, 68, 68, 1); 
    top: 50%; /* Üst kenarını sayfanın ortasına getiriyoruz */
    left: 50%; /* Sol kenarını sayfanın ortasına getiriyoruz */
    transform: translate(-50%, -50%); /* Yatay ve dikeyde ortalamak için negatif değerlerle hareket ettiriyoruz */
    width: 70%;

}
#corumslide img{
    weight: 1200px ;
    height: 700px;
}

#gezilecekyer img{
    weight: 1200px ;
    height: 700px;
}

























